@model MvcApp.Client.Models.Shared.ArticleViewModel
<div class="container-form-center">
  <div class="topic-list">
   @Html.Partial("TopicNavigation", @Model)
  </div>
  <div class="main">

  </div>
</div>




