#article_list {
    padding-inline-start: 0px;
}

#card-divider {
    margin: 0px;
}

#article-sub-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article-list-btn {
    border: none;
    background-color: transparent;
}

#article-list-delete-btn {
    color: red;
}

#article-list-edit-btn {
    color: blue;
}

#article_creator_form {
    display: flex !important;
    flex-direction: column;
}

#article_creator_form header {
    display: flex;
    flex-direction: column;
}

#article_creator_form header input {
    display: block;
}

#article_creator_form main {
    display: flex;
    width: '100%';
}

#article_creator_form footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#article_creator_form button {
    display: inline;
    width: '20%';
}
