@model MvcApp.Client.Models.Shared.ArticleViewModel

<div class="container-form-center">

  <form class="content-form" asp-action="create_article" asp-controller="author" method="POST">
    <div class="from-group col-md-6">
      <div class="form-group" style="display: flex; flex-direction: column">
        <input style="margin-bottom: 15px" class="form-control" type="text" id="title" placeholder="Enter title" asp-for="@Model.Title" value="" required/>
        <select asp-for="@Model.ChosenTopic" asp-items="@Model.AvailableTopics">
            <option>Select Topic</option>
        </select>
      </div>
    </div>
    <div class="from-group col-md-6">
      <div class="form-group">
        <textarea asp-for="@Model.Body" class="container-fluid" name="body" id="body" cols="30" rows="10" required></textarea>
      </div>
    </div>
    <div class="from-group col-md-6">
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Save Article</button>
      </div>
    </div>
  </form>

</div>