
<div style="display: flex; flex-direction: column; justify-content: center">
    <form asp-action="show_article_creator" asp-controller="author" method="GET" style="margin-bottom: 10px; display: flex; width: 100%; justify-content: flex-end">
        <button type="submit">New Article</button>
    </form>
    <form action="" style="width: 100%; margin-bottom: 10px;">
        <input style="width: 100%" type="text" name="search" id="search">
    </form>
    <ul id="article_list">
        @for(var i = 0; i < @Model.Count; i++)
        {
            <li>
                <p>@Model[i].Title</p>
                <p>@(Model[i].isPublished ? "Published" : "Not Published")</p>
                <form asp-action="view_article" asp-controller="author" method="GET">
                    <button type="submit">Edit</button>
                </form>
                <form asp-action="delete" asp-controller="author" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </li>
        }
    </ul>
</div>