<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/author.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
              <a class="navbar-brand" asp-area="" asp-controller="Landing" asp-action="Home" style="width: 100%; display: flex; flex-direction: row; align-items: center; position: relative;">
                    <img class="small-screen-logo" src="~/assets/RDTLogo.png" width="100" height="60" alt="RDT logo">
                    <img class="large-screen-logo" src="~/assets/RDTLogoL.png" width="auto" height="60" alt="RDT logo">
                    <div style="display: flex; flex-direction: row; position: absolute; right: 0; align-items: center">
                        <small style="font-weight: bold; margin-right: 10px;">Welcome, @ViewBag.Title</small>
                        <button class="btn-link" style="border: none; background-color: transparent; font-size: 80%; font-weight: 400; color: black;">Log Out</button>
                    </div>
              </a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Revature Dev Tribune
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
